# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vs/config/applicationhost.config
*.suo
bin/Debug/netcoreapp1.1/OlyCommonClasses.dll
bin/Debug/netcoreapp1.1/OlyMapper.deps.json
bin/Debug/netcoreapp1.1/publish/Microsoft.DiaSymReader.Native.amd64.dll
bin/Debug/netcoreapp1.1/publish/Newtonsoft.Json.dll
bin/Debug/netcoreapp1.1/publish/OlyMapper.deps.json
bin/Debug/netcoreapp1.1/publish/OlyMapper.pdb
bin/Debug/netcoreapp1.1/publish/System.Collections.Specialized.dll
bin/Debug/netcoreapp1.1/publish/System.Xml.XmlDocument.dll
bin/Debug/netcoreapp1.1/publish/System.ComponentModel.TypeConverter.dll
bin/Debug/netcoreapp1.1/publish/OlyMapper.runtimeconfig.json
bin/Debug/netcoreapp1.1/publish/System.Collections.NonGeneric.dll
bin/Debug/netcoreapp1.1/publish/System.Runtime.Serialization.Primitives.dll
bin/Debug/netcoreapp1.1/publish/System.ComponentModel.Primitives.dll
bin/Debug/netcoreapp1.1/publish/OlyCommonClasses.pdb
bin/Debug/netcoreapp1.1/publish/OlyMapper.dll
bin/Debug/netcoreapp1.1/publish/System.Runtime.Serialization.Formatters.dll
bin/Debug/netcoreapp1.1/publish/OlyCommonClasses.dll
bin/Debug/netcoreapp1.1/publish/OlyMapper.dll.config
obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
obj/Debug/netcoreapp1.1/OlyMapper.dll
obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp1.1/OlyMapper.pdb
obj/Debug/netcoreapp1.1/OlyMapper.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp1.1/OlyMapper.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp1.1/OlyMapper.csprojResolveAssemblyReference.cache
obj/Debug/netcoreapp1.1/OlyMapper.AssemblyInfo.cs
obj/Debug/netcoreapp1.1/OlyMapper.pdb
obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp1.1/OlyMapper.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp1.1/OlyMapper.dll
obj/Debug/netcoreapp1.1/OlyMapper.dll
obj/Debug/netcoreapp1.1/OlyMapper.AssemblyInfo.cs
obj/Debug/netcoreapp1.1/OlyMapper.AssemblyInfo.cs
obj/Release/netcoreapp1.1/centos.7-x64/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp1.1/OlyMapper.pdb
obj/Debug/netcoreapp1.1/OlyMapper.AssemblyInfo.cs
obj/Debug/netcoreapp1.1/OlyMapper.pdb
obj/Debug/netcoreapp1.1/OlyMapper.pdb
obj/Debug/netcoreapp1.1/OlyMapper.csprojResolveAssemblyReference.cache
obj/Debug/netcoreapp1.1/OlyMapper.dll
